-#  This file is app/views/recipes/index.html.haml
%h1 Search Recipes
%form{:action => "search_path", :method => "post"}
  %table#ingredients_form
    %tr
      %td
        Ingredient
      %td 
        %select("post", "main_ingredient", Recipe.all.collect {|r| [r.title, r.main_ingredient]}, {include_blank: 'None'}) 
      %td
        %select{:id => "side"}
        
    %tr
      %td
      %td
        %button{:id => "add"}
          Add another
    %tr
      %td
      %td
        %input{:type => "submit", :value => "Submit"}