-#  This file is app/views/recipes/show.html.haml
%table
    %tr
        %td
            Title
        %td
            
    %tr
        %td
            Cook Time
        %td
        
    %tr
        %td
            Main Ingredient
        %td
    
    %tr
        %td
            Side Ingredient
        %td